<% provide(:title, "Edit Profile") %>
<% provide(:header, "Edit Profile") %>

<div class="well">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :username, class: "sr-only" %>
    <%= f.text_field :username, class: "form-control", placeholder: "Username *"  %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password *" %>

    <%= f.label :password_confirmation, "Password Confirmation", class: "sr-only" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation *"  %>

    <%= f.submit "Save changes", class: "btn btn-default" %>
  <% end %>
</div>
