<div class="lead game_card_container">
  <%= render "games/circle", { game: game, color: "white" } %>

  <span class ="vertical_align">
    <%= game.user.username %>

    <%= render "games/result", { game: game, index_page: index_page } %>
  </span>

  <%= render "games/circle", { game: game, color: "black" } %>

  <span class="vertical_align">
    <%= game.opponent_fname %>
    <%= game.opponent_lname %>
    <small>on</small>
    <%= game.display_better_date %>
    <% unless game.has_moves? %>
      &#9816;
    <% end %>
  </span>
</div>
