<% provide(:header, "Games") %>

<% if @games.first.nil? %>
  <div id="no_games_container" class="center">
    <p class="lead">
      Hey there, you don't have any games saved.
    </p>
  </div>
<% else %>
  <div class="col-md-6 col-md-offset-3">
    <% @games.each do |game| %>
      <div class="lead game_card_container">
        <% if game.color == "white" %>
          <span class="white_circle"></span>
        <% else %>
          <span class="black_circle"></span>
        <% end %>

        <span class ="vertical_align recap_container">
          <% if game.result == "won" %>
            <span id="recap_won">
              <%= link_to "won", game_path(game) %>
            </span>
          <% elsif game.result == "lost" %>
            <span id="recap_lost">
              <%= link_to "lost", game_path(game) %>
            </span>
          <% else %>
            <span id="recap_drew">
              <%= link_to "drew", game_path(game) %>
            </span>
          <% end %>
        </span>
        <span class="vertical_align">
          <small>against</small>
          <%= game.opponent_fname %>
          <%= game.opponent_lname[0] %>.
          <small>on</small>
          <%= game.display_better_date %>
          <% unless game.has_moves? %>
            &#9816;
          <% end %>
        </span>
      </div>
      <hr/>
    <% end %>
  </div>
<% end %>
