<% provide(:header, "Games") %>

<div class="col-md-5 col-md-offset-4">
  <div class="lead">
    <%#= render "games/color_and_result" %>
    <% if @game.color == "white" %>
      &#9898;
    <% else %>
      &#9899;
    <% end %>
    &nbsp;
    <span class="result_container">
      <% if @game.result == "won" %>
        <span id="result_won">
          won
        </span>
      <% elsif @game.result == "lost" %>
        <span id="result_lost">
          lost
        </span>
      <% else %>
        <span id="result_drew">
          drew
        </span>
      <% end %>
    </span>
    against
    <%= @game.opponent_fname %>
    <%= @game.opponent_lname %>
    on <%= @game.display_better_date %><% if @game.has_moves? %>, in a game that lasted
      <%= pluralize(@game.moves.count, "move") %>.
    <% else %>.
    <% end %>
  </div>

  <% if @game.has_moves? %>
    <%= render "games/scoresheet" %>
  <% else %>
    <div class="bg-warning center">
      &#9816;
      This game is empty.
      &#9816;
    </div>
  <% end %>

  <div class="well">
    <p class="lead">
      Add Move
    </p>
    <%= render "moves/form" %>
  </div>

  <%= render "games/game_links" %>
</div>
