<!DOCTYPE html>
<html>
  <head>
    <title>Kuda | <%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render "layouts/logged_in_header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type} center") %>
      <% end %>
      <%= yield %>
      <% if logged_in? %>
        <%= render "layouts/logged_in_footer" %>
      <% else %>
      	<div class="center">
          <br/>
          <br/>
          <br/>
      		<small>
      			&copy; Copyright 2015
            <%= link_to "Kuda Chess", root_path %>
      		</small>
      	</div>
      <% end %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
